.game {
  padding: 4rem;
  width: 55rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}

.game-title {
  font-family: 'Hi Melody', cursive;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  margin-bottom: .5rem;
}

.game-description {
  color: #878787;
}

.game-box {
  margin-top: 2rem;
  padding: 2rem 0;
  width: 100%;
  height: auto;
  background-color: #cdcdcd;
  border: 2px solid darkgray;
}

.game-box__word {
  font-size: 4rem;
  letter-spacing: .6rem;
  font-weight: 600;
  margin: 2rem 0;
}

.game-box__btn {
  margin: 3rem 15% 1rem 15%;
  border-style: solid;
  border-radius: 2px;
  padding: .5rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  transition: .2s ease;
}

.game-box__btn:hover {
  transform: translateY(-0.2rem);
}
